*{
    margin: 0;
    padding: 0;
}
body{
    background: none;
    
}
.logo{
    text-align: left;
    margin: 10px;
    padding: 10px;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

.menu{
    display: flex;
    
    text-align: end;
    text-decoration: none;
    color: white;
   
    
}












footer{
    text-align: center;
    background-color: rgba(255, 252, 252, 0.075);
    height: 30px;
    color: brown;
    padding: 5px;
}
